.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before, .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #6435c9 !important;
}

.fields-wrapper {
    display: inherit;
    width: auto;
    margin: 0px auto;
}

.fields-wrapper .submit-button {
    margin-left: 20px !important;
}

.city-input input {
    padding: 12px !important;
}